In [28]:
import pandas as pd

RESULT_PATH = "data/eval/results_raw.csv" # Adjust this to your relative path 
df = pd.read_csv(RESULT_PATH)
df

           Task     Approach  Run  Macro_F1
0         T-SAD  ICL Mistral    1  0.508317
1         T-SAD  ICL Mistral    2  0.465610
2         T-SAD  ICL Mistral    3  0.482080
3         A-SAD  ICL Mistral    1  0.449326
4         A-SAD  ICL Mistral    2  0.430987
5         A-SAD  ICL Mistral    3  0.449725
6         S-NAP  ICL Mistral    1  0.189355
7         S-NAP  ICL Mistral    2  0.193661
8         S-NAP  ICL Mistral    3  0.161054
9         T-SAD    ICL Llama    1  0.501479
10        T-SAD    ICL Llama    2  0.506224
11        T-SAD    ICL Llama    3  0.529926
12        A-SAD    ICL Llama    1  0.504390
13        A-SAD    ICL Llama    2  0.542241
14        A-SAD    ICL Llama    3  0.537464
15        S-NAP    ICL Llama    1  0.366220
16        S-NAP    ICL Llama    2  0.320409
17        S-NAP    ICL Llama    3  0.259482
18        T-SAD   FT Mistral    1  0.791100
19        T-SAD   FT Mistral    2  0.791800
20        T-SAD   FT Mistral    3  0.773000
21        A-SAD   FT Mistral    1  0.883000
22        A-SAD   FT Mistral    2  0.882200
23        A-SAD   FT Mistral    3  0.885800
24        S-NAP   FT Mistral    1  0.703300
25        S-NAP   FT Mistral    2  0.697100
26        S-NAP   FT Mistral    3  0.632100
27  T-SAD_S-NAP   FT Mistral    1       NaN
28  T-SAD_S-NAP   FT Mistral    2       NaN
29  T-SAD_S-NAP   FT Mistral    3       NaN
30        T-SAD     FT Llama    1  0.795500
31        T-SAD     FT Llama    2  0.790800
32        T-SAD     FT Llama    3  0.774400
33        A-SAD     FT Llama    1  0.875100
34        A-SAD     FT Llama    2  0.875100
35        A-SAD     FT Llama    3  0.874400
36        S-NAP     FT Llama    1  0.674300
37        S-NAP     FT Llama    2  0.748500
38        S-NAP     FT Llama    3  0.655100
39  T-SAD_S-NAP     FT Llama    1       NaN
40  T-SAD_S-NAP     FT Llama    2       NaN
41  T-SAD_S-NAP     FT Llama    3       NaN
42        T-SAD   FT RoBERTa    1  0.763700
43        T-SAD   FT RoBERTa    2  0.778700
44        T-SAD   FT RoBERTa    3  0.774800
45        A-SAD   FT RoBERTa    1  0.859400
46        A-SAD   FT RoBERTa    2  0.855700
47        A-SAD   FT RoBERTa    3       NaN
48        S-NAP   FT RoBERTa    1  0.617500
49        S-NAP   FT RoBERTa    2  0.683300
50        S-NAP   FT RoBERTa    3  0.590300
51  T-SAD_S-NAP   FT RoBERTa    1  0.761400
52  T-SAD_S-NAP   FT RoBERTa    2  0.750600
53  T-SAD_S-NAP   FT RoBERTa    3       NaN
54  S-NAP_T-SAD   FT RoBERTa    1  0.576200
55  S-NAP_T-SAD   FT RoBERTa    2  0.605500
56  S-NAP_T-SAD   FT RoBERTa    3       NaN

In [29]:
# Dropping rows with NaN values in numeric columns
df_cleaned = df.dropna(subset=['Macro_F1'])

In [30]:
# Grouping by multiple categories and computing averages and variance
grouped = df_cleaned.groupby(['Task', 'Approach']).agg({
    'Macro_F1': ['mean', 'std']
})

In [31]:
# Rounding variance columns to three decimal places
grouped[('Macro_F1', 'std')] = grouped[('Macro_F1', 'std')].round(3)
grouped[('Macro_F1', 'mean')] = grouped[('Macro_F1', 'mean')].round(2)

In [32]:
grouped

                        Macro_F1
                            mean    std
Task        Approach
A-SAD       FT Llama        0.87  0.000
            FT Mistral      0.88  0.002
            FT RoBERTa      0.86  0.003
            ICL Llama       0.53  0.021
            ICL Mistral     0.44  0.011
S-NAP       FT Llama        0.69  0.049
            FT Mistral      0.68  0.039
            FT RoBERTa      0.63  0.048
            ICL Llama       0.32  0.054
            ICL Mistral     0.18  0.018
S-NAP_T-SAD FT RoBERTa      0.59  0.021
T-SAD       FT Llama        0.79  0.011
            FT Mistral      0.79  0.011
            FT RoBERTa      0.77  0.008
            ICL Llama       0.51  0.015
            ICL Mistral     0.49  0.022
T-SAD_S-NAP FT RoBERTa      0.76  0.008